body {
	border: 1px dashed gray;
	margin: auto;
	margin-top: 1em;
	padding: 1em;
	width: 32em;
}

h1, h2, h3, h4, h5 {
	font-family: sans-serif;
	margin-bottom: 0;
	margin-top: 0;
	color: #E15119;
}

ul {
	list-style-type: square;
	margin: 0.5em 0 0.5em 0;
}

li.before {
	color: #CCCCCC;
}

.backLink {
	font-size: 0.8em;
	margin: 0 0 0 1.5em;
}

a {
	color: #2F4E6F;
}

p, li {
	width: 30em;
}

p {
	margin: 1em;
}

img {
	vertical-align: middle;
}

a:link {
	border-bottom: 1px dashed;
	text-decoration: none
}

a:visited {
	border-bottom: 1px dashed;
	text-decoration: none
}

a:active {
	border-bottom: 1px dashed;
	text-decoration: none
}

a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
	color: #98B1C4;
}